{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>

<h2 id="balance-elem">Balance: {{ user.balance }}</h2>





<h2>Sell Tickets</h2>
<h3 id = 'sMessage'>{{sMessage}}</h3>
<form action="/sell" method="post" id="sell-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="sell-name" id="sell-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="sell-quantity" id="sell-quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="sell-price" id="sell-price" required>
    <label for="exp">Expiration Date</label>
    <input class="form-control" name="sell-exp" id="sell-exp" required>
    <input class="btn btn-lg btn-primary" type="submit" id="sell-submit" value="Sell">
  </div>
</form>






<h2>Buy Tickets</h2>
<h3 id = 'bMessage'>{{bMessage}}</h3>
<form action="/buy" method="post" id="buy-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="buy-name" id="buy-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="buy-quantity" id="buy-quantity" required>
    <input class="btn btn-lg btn-primary" type="submit" id="buy-submit" value="Buy">
  </div>
</form>



<h2>Update Tickets</h2>
<h3 id = 'uMessage'>{{uMessage}}</h3>
<form action="/update" method="post" id="upd-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="upd-name" id="upd-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="upd-quantity" id="upd-quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="upd-price" id="upd-price" required>
    <label for="exp">Expiration Date</label>
    <input class="form-control" name="upd-exp" id="upd-exp" required>
    <input class="btn btn-lg btn-primary" type="submit" id="upd-submit" value="Update">
  </div>
</form>





<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.title }} {{ ticket.quantity }} {{ ticket.price }} {{ ticket.expDate }}</h4>
    </div>
{% endfor %}
</div>

<a id="logout" href='/logout'>logout</a>
{% endblock %}