{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>

<h2 id="balance-elem">Balance: {{ user.balance }}</h2>





<h2>Sell Tickets</h2>

<form method="post" id="sell-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="sell-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="sell-quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="sell-price" required>
    <label for="exp">Expiration Date</label>
    <input class="form-control" name="exp" id="sell-exp" required>

  <a href='/sell' class="btn btn-primary" id="sell-submit" >Sell</a>
  </div>
</form>






<h2>Buy Tickets</h2>

<form method="post" id="buy-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="buy-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="buy-quantity" required>

  <a href='/buy' class="btn btn-primary" id="buy-submit" >Buy</a>
  </div>
</form>



<h2>Update Tickets</h2>

<form method="post" id="upd-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="upd-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="upd-quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="upd-price" required>
    <label for="exp">Expiration Date</label>
    <input class="form-control" name="exp" id="upd-exp" required>

  <a href='/update' class="btn btn-primary" id="upd-submit" >Update</a>
  </div>
</form>





<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }}</h4>
    </div>
{% endfor %}
</div>

<a id="logout" href='/logout'>logout</a>
{% endblock %}